/* Add CSS Styling */

p {
    background-color: #fca7a7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

#blu{
    color: #327afa;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 36px;
}

#grn{
    background-color: rgb(121, 232, 129);
    font-weight: bold;
    font-size: 24px;
}