/* Add CSS Styling */
.btn-blck,
.btn-yllw {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-blck {
    background-color: black;
    color: white;
}
.btn-yllw {
    background-color: yellow;
}
